@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI/Regular/SegoeUIRegular.eot");
  src: url("./fonts/SegoeUI/Regular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"),
       url("./fonts/SegoeUI/Regular/SegoeUIRegular.woff") format("woff"),
       url("./fonts/SegoeUI/Regular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Icon";
  src: url("./fonts/Icons/icons.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
