@import "../../../stylesheets/mixins.scss";
@import "../../../stylesheets/variables.scss";

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

html, body, .app-container, .main, .wrapper, .page-view, .page-content, .matrix-app {
  height: 100%;
}

body {
  background: $body-bg-color;
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: 20px;
  overflow: hidden;
}

.wrapper {
  width: $content-width;
  min-width: $min-content-width;
  margin: 0 auto;
}

.page-view {

}
