@import "../../../stylesheets/mixins.scss";

/* How to import fonts with several types see in mixins */

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI/Regular/SegoeUIRegular.eot");
  src: url("./fonts/SegoeUI/Regular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"),
       url("./fonts/SegoeUI/Regular/SegoeUIRegular.woff") format("woff"),
       url("./fonts/SegoeUI/Regular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face { /** Some bugs with converting into ttf+eot+woff */
  font-family: "Icon";
  src: url("./fonts/Icons/icons.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
