/*
 * Colors
 * ========================================================================== */

$black:                 #000;
$white:                 #fff;
$grayX11:               #bcbcbc;
$capeCod:               #404040;
$havelockBlue:          #5199db;
$babyPink:              #f6c1c0;

$color-base:            $capeCod;
$link-color:            $capeCod;
$body-bg-color:         $white;

/*
 * Typography
 * ========================================================================== */

$Segoe-font:            "Segoe UI", Arial, sans-serif;

$font-family-base:      $Segoe-font;

$font-size-base:        14px;

/*
 * Layout
 * ========================================================================== */

$content-width:         100%;
$min-content-width:     986px;

